*/logs
*/project/project
*/project/target
*/target
*/tmp
*/.history
*/dist
*/.idea
*/*.iml
*/out
*/.idea_modules
*/.classpath
*/.project
*/RUNNING_PID
*/.settings
client/scala/.idea/
client/scala/.idea_modules
client/scala/project/target/
client/scala/project/project/
client/scala/target/
/target
.idea/
*.iml
server/data
.DS_Store
